.about-me{
    article{
        img{
            margin-left: 40%;
            border-radius: 70%;
        }
        h3{
            margin-left: 37%;
        }
        p{
            margin-left: 30%;
            width: 40%;
            text-align: justify;
        }
    }
}