* {
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    margin-top: 0;
    flex-wrap: nowrap;

}
header .img1{
    width: 30%;
    height: 10%;
    margin-left: 2%;
    margin-right: 2%;
}

header .img2{
    margin-left: 3%;
    margin-right: 2%;
    width: 30%;
    height: 10%;
    transform: rotate(180deg);
}
header .menu{
    margin-top: 5%;
    width: 40%;

}
header .menu li{
    padding-top: 5%;
    margin-left: 0.5%;
    display: inline;
    margin-left: 5px;
    color: black;
}

header .menu a:hover{
    color: red;
}

footer{
    display: flex;
    padding-bottom: 3%;
    width: 100%;
    background-color: #0437A0;
    flex-wrap: nowrap;
}

footer .navFooter{
    margin-top: 1%;
    width: 40%;
}
footer .navFooter li{
    display: inline;
    margin-left: 1%;
}

footer .navFooter li a{
    color: white;
}
footer form{
    color: white;
    margin-top: 2%;
    height: 5%;
    width: 60%;
    padding-left: 40%;
}

.presentation{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    margin-top: 10%;
}

.presentation section{
    width: 50%;
    height: 30%;
    margin-bottom: 10%;
    justify-self: center;
    border-style: hidden;
}

.presentation section img{
    align-self: center;
    border-radius: 70px;
    margin-top: 1%;
    margin-bottom: 20px;
    margin-left: 20%;
    width: 120px;
    height: 120px;
    transition: height 3s, width 2s;
}

.presentation section img:hover{
    height: 200px;
    width: 200px;
    margin-left: 10%;
    border-radius: 0px;
}


.presentation section h4{
    text-align: center;
}

.presentation p{
    text-align: justify;
    justify-self: stretch;
}

.sitios .ciudad{
    margin-left: 3%;
    display: grid;
    margin-top: 2%;
    grid-template-columns: repeat(3,1fr);
    align-content: stretch;
}

.sitios .ciudad section{
    width: 80%;
    height: 30%;
    margin-bottom: 5%;
    justify-self: left;
    border-style: hidden;
}

.sitios .ciudad section iframe{
    width: 300px;
    height: 250px;
    transition: height 3s, width 2s;

}

.sitios .ciudad iframe:hover{
    width: 400px;
    height: 300px;

}
.sitios .ciudad section:hover{
    width: 80%;
    height: 30%;
    margin-bottom: 5%;
    /*justify-self:stretch;*/
    border-style: hidden;
}


.ciudad section p{
    text-align: justify;
    justify-self: center;
}

@media (max-width: 600px){
    header{
        display: flex;
        margin-top: 0;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    
    }
    header .menu{
        align-self: center;
        margin-top: 2%;
        width: 100%;
    
    }
    header .menu li{
        padding-top: 5%;
        display: inline-block;
        margin-left: 5px;
        color: black;
    }
    header .img1{
        width: 100%;
        height: 5%;
    }
    header .img2{
        display: none;
    }
    .presentation{
        display: grid;
        grid-template-columns: 3fr;
        justify-content: center;
        margin-top: 10%;
    }
    footer .navFooter li{
        display: inline-block;
        margin-left: 5px;
        color: white;
    }   
    footer form{
        color: white;
        display: inline-block;
        margin-left: 5%;
    }
    .sitios .ciudad{
        margin-left: 3%;
        display: grid;
        margin-top: 1%;
        margin-bottom: 1%;
        grid-template-columns: 3fr;
        align-content: center;
    }
    .sitios .ciudad section{
        justify-self: center;
    }
    .sitios h3{
        text-align: center;
    }

}


@media (max-width: 480px){
    header{
        display: flex;
        margin-top: 0;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    
    }
    header .menu{
        align-self: center;
        margin-top: 2%;
        width: 100%;
    
    }
    header .menu li{
        padding-top: 5%;
        display: inline-block;
        margin-left: 5px;
        color: black;
    }
    header .img1{
        width: 100%;
        height: 5%;
    }
    header .img2{
        display: none;
    }
    .presentation{
        display: grid;
        grid-template-columns: 3fr;
        justify-content: center;
        margin-top: 10%;
    }
    footer{
        display: flex;
        flex-direction: row;
        padding-bottom: 3%;
        flex-wrap: wrap;
        background-color: #0437A0;
        justify-content: center;
    }
    footer .navFooter li{
        display: inline-block;
        margin-left: 1%;
        color: white;
    }
    footer .navFooter li a{
        color: white;
        font-size: medium;
    }
    footer form{
        color: white;
        padding-left: 1%;
    }

}

@media (max-width: 320px){
    header{
        display: flex;
        margin-top: 0;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    
    }
    header .menu{
        align-self: center;
        margin-top: 2%;
        width: 100%;
    
    }
    header .menu li{
        padding-top: 5%;
        display: inline-block;
        margin-left: 5px;
        color: black;
    }
    header .menu li{
        font-size: small;
    }
    header .img1{
        width: 100%;
        height: 5%;
    }
    header .img2{
        display: none;
    }
    .presentation{
        display: grid;
        grid-template-columns: 3fr;
        justify-content: center;
        margin-top: 10%;
    }
    .presentation p{
        font-size: small;
    }
    .presentation h4{
        font-size: small;
    }
    .ciudad section h4{
        font-size: small;
    }
    .ciudad section p{
        font-size: small;
    }
    .sitios .ciudad section iframe{
        width: 200px;
        height: 150px;
        transition: height 3s, width 2s;
    
    }
    footer{
        display: flex;
        flex-direction: row;
        padding-bottom: 3%;
        flex-wrap: wrap;
        background-color: #0437A0;
        justify-content: center;
    }
    footer .navFooter li{
        display: inline-block;
        margin-left: 1%;
        font-size: small;
    }
    footer .navFooter li a{
        color: white;
        font-size: small;
    }
    footer form{
        color: white;
        padding-left: 1%;
        font-size: small;
    }

}

